	<nav>
		<ul>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/']" > Homepage </a></li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a class="centerA" [routerLink]="['/contact']" > Contact Me </a></li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" ><a class="centerA" [routerLink]="['/discover']" > Discover </a></li>
		</ul>
	</nav>
	<br />
	<br />
	<div class="container">
		<div id="CMS"><div class="wm wb wc134">
		<div class="wc134image"><img src="../../assets/selfie for website.JPG" class="CMS_edit img-responsive" border="0" alt="Unknown image" /></div>
	</div></div>
	</div>
		<br />
	<br />
	<div class="container">
		<div id="CMS"><div class="wm wp wb wc145">
		<h2 class="CMS_edit CMS_remove">Frequently Asked Questions</h2>
		<div class="wc145item CMS_repeat">
			<div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">How much will it cost to build a website?</span></div>
			<div class="CMS_widgets wc145body" data-cms-category="Inline">
				<p class="wm CMS_edit wc145bodyp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid iusto eos molestias, modi quibusdam doloremque similique dignissimos odio a amet.</p>
			</div>
		</div>
		<div class="wc145item CMS_repeat CMS_remove">
			<div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">How much time will it take to build a website?</span></div>
			<div class="CMS_widgets wc145body" data-cms-category="Inline">
				<p class="wm CMS_edit wc145bodyp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid iusto eos molestias, modi quibusdam doloremque similique dignissimos odio a amet.</p>
			</div>
		</div>
		<div class="wc145item CMS_repeat CMS_remove">
				<div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">Can you host my website?</span></div>
				<div class="CMS_widgets wc145body" data-cms-category="Inline">
					<p class="wm CMS_edit wc145bodyp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid iusto eos molestias, modi quibusdam doloremque similique dignissimos odio a amet.</p>
				</div>
			</div>
	<div class="wc145item CMS_repeat CMS_remove">
				<div class="wc145title"><i class="fa"></i><span class="CMS_unwrap CMS_search CMS_edit">What kind of websites/webapps can you build?</span></div>
				<div class="CMS_widgets wc145body" data-cms-category="Inline">
					<p class="wm CMS_edit wc145bodyp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid iusto eos molestias, modi quibusdam doloremque similique dignissimos odio a amet.</p>
				</div>
			</div>
	</div></div>
	</div>
<div class="center">
<div class="margintop1">
	<div class="container">
				<div id="CMS"><div class="wmi wpi wbi wi122 wi122-black">
		<a href="contact" class="CMS_repeat"><strong class="CMS_edit">Email</strong><span class="CMS_edit test">npkden@hotmail.com</span></a>
		<a href="contact" class="CMS_repeat CMS_remove"><strong class="CMS_edit">Phone</strong><span class="CMS_edit test">514-886-7757</span></a>
	</div></div>
			</div>
	
	</div>
	<p class="note">Note: If I can't answer your call, you can always send an email.</p>
	<br />
<br />
<div class="container">
	<div id="CMS"><div class="wm wp wb">
	<div class="wc136">
		<div class="wc136title CMS_remove CMS_edit">Follow me on social networks</div>
		<div class="wc136links">
			<a target="_blank" href="$facebook" class="CMS_repeat"><i class="fa fa-facebook CMS_edit"></i><span class="CMS_edit">Facebook</span></a>
			<a target="_blank" href="$github" class="CMS_repeat CMS_remove"><i class="fa fa-github CMS_edit"></i><span class="CMS_edit">GitHub</span></a>
			<a target="_blank" href="$google" class="CMS_repeat CMS_remove"><i class="fa fa-google-plus CMS_edit"></i><span class="CMS_edit">Google+</span></a>
			<a target="_blank" href="$twitter" class="CMS_repeat CMS_remove"><i class="fa fa-twitter CMS_edit"></i><span class="CMS_edit">Twitter</span></a>
			<a target="_blank" href="$linkedin" class="CMS_repeat CMS_remove"><i class="fa fa-linkedin CMS_edit"></i><span class="CMS_edit">LinkedIn</span></a>
		</div>
	</div>
</div></div>
</div>
</div>