
<script editor>

	option('color', 'Color', 'blue', [{ text: 'Blue', value: 'blue' }, { text: 'Red', value: 'red' }, { text: 'Green', value: 'green' }, { text: 'Dark', value: 'dark' }]);
	exports.configure = function(options, el) {
		el.find('.wc127body').rclass2('wc127-').aclass('wc127-' + options.color);
	};

</script>


<script>
		
</script>

<br />
<br />
<div class="container">
<div id="CMS"><div class="wm wp wb wc127">
<div class="wc127body wc127-blue">
  <h1 class="CMS_edit">Khelvaly's Workshop</h1>
  <p class="CMS_edit">Hello! I’m excited to get in touch with you and offer you my expertise.

    If you'd like to explore the idea of owning your own website, we should discuss together to help simplify your project and address any concerns you may have.</p>
  <a href="contact" class="CMS_edit CMS_remove wc127a wc127ahighlight">Contact Me</a>
  <a href="discover" class="CMS_edit CMS_remove wc127a wc127ahighlight">Discover More</a>
</div>
<img src="../../assets/laptop.jpg" alt="Banner" class="img-responsive CMS_edit" border="0" data-cms-width="1280" data-cms-height="700" />
</div></div>
</div>
<br />
<br />
<div class="container">
	<div id="CMS"><div class="wm wp wb wc111">
	<div class="row">
		<div class="col-sm-6 CMS_repeat">
			<div class="wm wc111body CMS_widgets" data-cms-category="Inline">
				<h3 class="CMS_search CMS_edit CMS_remove wc111bodyh3">Best Prices</h3>
				<p class="CMS_edit CMS_remove wm wc111bodyp"> Building a website can be a very exciting process with many challenging obstacles. You did a good thing to visit me, I offer an excellent service at a good price.</p>
      <br>
      </div>
		</div>
		<div class="col-sm-6 CMS_repeat">
			<div class="wm wc111body CMS_widgets" data-cms-category="Inline">
				<h3 class="CMS_search CMS_edit CMS_remove wc111bodyh3">Trustworthy</h3>
				<p class="CMS_edit CMS_remove wm wc111bodyp">Take a look at my portfolio and examine my past work. I would love to help you create a memorable website that people will enjoy for years to come.</p>
			<br>
			</div>
		</div>
	</div>
</div></div>
</div>
<br />
<div class="container">
	<div id="CMS"><div class="wm wp wb">
	<div class="wc136">
		<div class="wc136title CMS_remove CMS_edit">Follow me on social networks</div>
		<div class="wc136links">
			<a target="_blank" href="$facebook" class="CMS_repeat"><i class="fa fa-facebook CMS_edit"></i><span class="CMS_edit">Facebook</span></a>
			<a target="_blank" href="$github" class="CMS_repeat CMS_remove"><i class="fa fa-github CMS_edit"></i><span class="CMS_edit">GitHub</span></a>
			<a target="_blank" href="$google" class="CMS_repeat CMS_remove"><i class="fa fa-google-plus CMS_edit"></i><span class="CMS_edit">Google+</span></a>
			<a target="_blank" href="$twitter" class="CMS_repeat CMS_remove"><i class="fa fa-twitter CMS_edit"></i><span class="CMS_edit">Twitter</span></a>
			<a target="_blank" href="$linkedin" class="CMS_repeat CMS_remove"><i class="fa fa-linkedin CMS_edit"></i><span class="CMS_edit">LinkedIn</span></a>
		</div>
	</div>
</div></div>
</div>
